<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<style type="text/css">
	  html {
      font-family: Arial, Helvetica, sans-serif;
	  font-size: .8em;
	  }
	  a {
	    color: #3333ff;
	    text-decoration: none;
	  }
	</style>

	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	
</head>
<body id="{% block body_id %}{% endblock %}">
  <div id="formunculous_navigation">
	<ul>
	  <li><a href="{% url formunculous-index %}">Forms</a></li>
	  {% if perms.formunculous.change_form %}
	  <li>
		<a href="{% url builder-index %}">Builder</a></li>
	  </li>
      {% endif %}
    </ul>
   </div>
  {% if user.is_authenticated %}
  <div id="formunculous_auth"><a href="{% url formunculous-logout %}?next={% url formunculous-index %}">Logout</a></div>
  {% else %}
  <div id="formunculous_auth"><a href="{% url formunculous-login %}?next={{ request.path }}">Login</a></div>
  {% endif %}
  <div id="body">
    {% block body %}
	{% block crumbs %}
	{% if breadcrumbs %}
	  <ul id="breadcrumb_list">
	  {% for crumb in breadcrumbs %}
	    <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
	  {% endfor %}
	  </ul>
	{% endif %}
	{% endblock %}
      <div><h1>{% block content_title %}{% endblock %}</h1></div>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>

