recursive-include formunculous/media *
recursive-include formunculous/templates *
recursive-include formunculous/support *
recursive-include upgrade *
recursive-include harness *
recursive-include scripts *
include ez_setup.py
include setuptools-0.6c9-py2.5.egg
include README
include COPYING