/* shortcuts */
.fr {
	float:right;
}

.fl {
	float:left;
}

/* Standard table styles */
table.formunculous_table thead tr
{
	background: url('../img/sub_form_bg.png') repeat-x;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	border-left: 1px #ccc solid;
}

table.formunculous_table th 
{
	text-align: left;
	padding-left: 10px;
	border-right: 1px #ccc solid;
}

table.formunculous_table .sort-reverse {
	background: url('../img/arrow_up_blue.png') right no-repeat;
}

table.formunculous_table .sort {
	background: url('../img/arrow_down_blue.png') right no-repeat;
}

table.formunculous_table
{
	width:100%;
	border-collapse:collapse;
}

table.formunculous_table tr
{
	background-color:#fff;
	border-bottom: 1px #f1f1f1 solid;
	border-left: 1px #f1f1f1 solid;
}

table.formunculous_table td 
{
	display:table-cell;
	border-bottom: 1px #f1f1f1 solid;
	padding:0px;
	border-right: 1px #f1f1f1 solid;
	padding-left: 10px;
}

table.formunculous_table tr.odd
{
	background-color: #f1f1fa;
}

.formunculous_inactive {
	color: #999;
	font-style: italic;
}

/* Reviewer table specific styles */
table.formunculous_review_table tr:hover
{
	background-color:#f1f1f1;
}
table.formunculous_review_table th a
{
	display:block;
	padding: 0px;
	height: 100%;
	color: #3333cc;
	text-decoration: none;
}

table.formunculous_review_table td a
{
	text-decoration:none;
	display:block;
	padding:0px;
	color: #3333ff;
	height:100%;
}
table.formunculous_review_table tr.odd:hover
{
	background-color: #f1f1f1;
}


/* Reviewer Pagination */
.formunculous_pagination {
	float: right;
	margin-top: 10px;
}

.formunculous_pagination ul {
	list-style-type: none;
	margin: 0;
	
}
.formunculous_pagination ul li {
	list-style-type: none;
	float: left;
	border: 1px solid #ccc;
	padding: 2px 8px 2px 8px;
	font-size: .8em;
	margin-left: 2px;
}

.formunculous_pagination ul .current {
	border: none;
	background-color: #f1f1f7;
	color: #333333;
	padding-bottom: 4px;
}

.formunculous_pagination {
	width: 100%;
	text-align: right;
	margin-top: 15px;
}

/* Reviewer Search */
#formunculous-review-search {
	margin: 0 0 1px 0;
}

#formunculous-review-search input[type=submit] {
	background: url('../img/icon_preview.gif') no-repeat;
	border: 1px solid #ccc;
	padding-left: 8px;
}


/* Common Links */
.formunculous_previewlink, .formunculous_deletelink, .formunculous_addlink,
.formunculous_changelink, .formunculous_copylink, .formunculous_subform_add, .formunculous_newapplink, .formunculous_historylink, .formunculous_currentlink {
	font-size: 1.1em;
}
.formunculous_previewlink {
	padding-left: 16px;
	background: url('../img/icon_preview.gif') no-repeat;
}

.formunculous_offsitelink {
	padding-left: 16px;
	background: url('../img/offsite.png') no-repeat;
}

.formunculous_uplink {
	padding-left: 16px;
	background: url('../img/up.png') no-repeat;
}

.formunculous_deletelink {
	padding-left: 16px;
	background: url('../img/icon_deletelink.gif') no-repeat;
}

.formunculous_addlink {
	padding-left: 16px;
	background: url('../img/icon_addlink.gif') no-repeat;
}

.formunculous_changelink {
	padding-left: 16px;
	background: url('../img/icon_changelink.gif') no-repeat;
}

.formunculous_copylink {
	padding-left: 16px;
	background: url('../img/icon_copy.png') no-repeat;
}

.formunculous_newapplink {
	padding-left: 22px;
	background: url('../img/new_form.png') no-repeat;
}
.formunculous_historylink {
	padding-left: 22px;
	background: url('../img/history.png') no-repeat;
}
.formunculous_currentlink {
	padding-left: 22px;
	background: url('../img/current.png') no-repeat;
}

.formunculous_printlink {
	padding-left: 22px;
	background: url('../img/print.png') no-repeat;
}
.formunculous_csvlink {
	padding-left: 22px;
	background: url('../img/csv.png') no-repeat;
}
.formunculous_downloadlink {
	padding-left: 22px;
	background: url('../img/download.png') no-repeat;
}
.formunculous_statslink {
	padding-left: 22px;
	background: url('../img/stats.png') no-repeat;
}

.formunculous_completelink {
	padding-left: 22px;
	background: url('../img/complete.png') no-repeat;
}
.formunculous_incompletelink {
	padding-left: 22px;
	background: url('../img/incomplete.png') no-repeat;
}
.formunculous_reviewlink {
	padding-left: 22px;
	background: url('../img/review.png') no-repeat;
}

/* Builder index table styles */
#formunculous_def_table tr:hover {
	background-color: #f1f7f1;
}

/* Builder Field Editor Styles */
#formunculous-page-container {
	width: 100%;
	margin-top: 2em;
}

#formunculous-field-container {
	width: 74%;
	float: right;
}

#formunculous-field-toolbar {
	width: 24%;
	float:left;
	margin: 1em 0 0 0;
}

#formunculous-previewdiv {
	text-align: right;
	float: right;
}

.formunculous_field_list {
	margin: 0px;
	padding: 0 0 20px 0;
	width: 100%;
	min-width: 600px;
	min-height: 100px;
	background-color:#f1f1f1;
	list-style-type: none;
}

.formunculous_field_list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.formunculous_field_sort_icon {
	float: left;
	margin-right: 10px;
}
.formunculous_field_head {
	position: relative;
	margin: 0;
	width: 100%;
	cursor: default;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.formunculous_field_collapse {
	display: block;
	cursor: pointer;
	margin-top: 5px;
	background: url('../img/arrow-down.gif') no-repeat;
	min-width: 20px;
	min-height: 10px;
	float: left;
}

.formunculous_field_title {
	float: left;
	width: 40%;
	cursor: pointer;
}
.formunculous_field_name {
	cursor: pointer;
}

.formunculous_field_actions {
	float: right;
	width: 58%;
	text-align: right;
}
.formunculous_field_actions ul {
	margin: 0;
}

.formunculous_field_actions ul li {
	display: inline;
	margin: 0 10px 0 0;
}


.formunculous_field_body {
	padding: 5px 10px 15px;
	background-color:#f7f7fa;
}


/* Field Editor Form Styles */

.formunculous_wysiwyg {
	background: url('../img/wysiwyg.png') no-repeat;
	cursor: pointer;
	padding-left: 32px;
	display: inline;
}


.formunculous_form_row {
	width: 100%;
	padding: 0 5px 0 5px;
}

.formunculous_errors {
	color: #ff3333;
	background: url('../img/icon_error.gif') no-repeat;
	padding-left: 30px;
}

.formunculous_errors ul {
	margin-top: -15px;
}
.formunculous_info_box {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	color: #666666;
	padding: 5px;
	font-size: 10px;
	min-height: 35px;
	width: 80%;
}

.formunculous_form_row input[type='text']{
	width: 150px;
}

.formunculous_form_row textarea {
	width: 280px;
	height: 100px;
}

.formunculous_form_row select{
	width: 150px;
}

.formunculous_form_row label {
	display: block;
	margin: 5px 20px 0 0;
	width: 8em;
	float: left;
}
.formunculous_form_row label.formunculous_builder_cb {
	display:inline;
	width: auto;
	float: none;
	margin: 0 0 0 5px;
}
.formunculous_left_column {
	width: 48%;
	float: left;
}
.formunculous_left_column div{
	margin-bottom: 10px;
}
.formunculous_right_column {
	width: 48%;
	float: right;
}

.formunculous_right_column div{
	margin-bottom: 10px;
}

/* Field type draggables */
.formunculous_field_types {
	width: 100%;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	padding: 0;
	list-style-type: none;
	margin: 0;
}
.formunculous_field_types li {
	cursor: default;
	list-style-type: none;
	margin: 0;
	width: 100%;
}
.formunculous_field_types li .ui-icon {
	margin: 0 10px 0 0;
}
.formunculous_field_types li img {
	margin-right: 10px;
	vertical-align: middle;
}

.formunculous_field_delete {
	cursor: pointer;
	padding-left: 15px;
	background: url('../img/icon_deletelink.gif') no-repeat;
}
.formunculous_field_add_above {
	cursor: pointer;
	padding-left: 15px;
	background: url('../img/icon_addlink.gif') no-repeat;
}
.formunculous_field_add_below {
	cursor: pointer;
	padding-left: 15px;
	background: url('../img/icon_addlink.gif') no-repeat;
}

.formunculous_dropdown_group{ 
	margin-top: 1em;
}

.formunculous_field_dropdown {
	cursor: pointer;
	color: #3333ff;
}

.formunculous_edit_buttons {
	text-align: left;
	vertical-align: bottom;
}
.formunculous_edit_buttons input[type=submit] {
	border: 1px solid #ccc;
	background-color: #f1f1f7;
	color: #666;
}

/* Reviewer Comments */
.formunculous_comment_container {
	float: right;
	width: 55%;
}

.formunculous_comment_box {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	padding: 5px;
	margin-bottom: 20px;
}

.formunculous_comment_header {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.formunculous_comment_comment {
	padding: 10px 5px 5px 5px;
	background-color: #f1f1f1;
}



/* Start history styles */
.formunculous_tab_bar {
	border-bottom: 1px solid #ccc;
	margin-top: 3em;
	margin-bottom: 3em;
}
.formunculous_tab_bar ul {
	list-style-type: none;
	margin: 0;
}
.formunculous_tab_bar ul li {
	background: url('../img/sub_form_bg.png') repeat-x;
	list-style-type: none;
	display: inline;
	margin-right: 3px;
	font-size: 1.1em;
	font-weight: bold;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 5px 5px 1px 7px;
}

.formunculous_tab_bar ul li:hover{
	background: none #f1f1f1;
}


.formunculous_tab_bar ul li a{
	color: #999;
}


.formunculous_tab_bar ul .here {
	background: none #fff !important;
	border-bottom: 1px solid #fff;
}

.formunculous_tab_bar ul .here a{
	color: #000;
}

.formunculous_history_bar {
	display:none;
	width: 100%;
}

.formunculous_history_list {
	float:left;
	margin-left: 2em;
	padding-right: 2em;
	width: 175px;
}
.formunculous_history_list ul {
	list-style-type: none;
	padding-left: 0;
}

.formunculous_history_list ul li a{
	color: #3333ff;
}

.formunculous_history_list ul li {
	list-style-type: none;
	border-bottom: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	padding: 8px;
}

.formunculous_history_list ul li:hover {
	background-color: #f1f1f1;
}


.formunculous_history_list ul .here{
	list-style-type: none;
	padding-left: 0;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #6666ff;
	padding: 8px;
}

.formunculous_history_list ul .here:hover {
	background-color: #6666ff;
}


.formunculous_history_list ul .here a{
	color: #f1f1f1;
}

#formunculous-history-app {
	float: left;
	border-left: 1px dashed #ccc;
	padding-left: 1em;
	margin-top: 1em;
	max-width: 60%
}

/* End history styles */

.formunculous_form_info {
	list-style-type: none;
	padding-top: 1em;
	padding-right: 3em;
	margin: 0 2em 0 2em;
}

.formunculous_sub_form_info {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.formunculous_form_info li {
	overflow: hidden;
	list-style-type: none;
}

.formunculous_field_label {
	display: block;
	width: 200px;
	text-align: right;
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;
	font-weight: bold;
}

/* Sub form display styles */
.formunculous_sub_ad_title {
	background: url('../img/sub_form_bg.png') repeat-x;
	color: #333;
	margin: 2em 1.7em 0 1.7em;
	padding-left: 15px;
	border: 1px solid #ccc;
}

#formunculous-subform-container {
	margin-top: 1.5em;
	border-top: 1px dashed #f1f1f7;
	margin-bottom: 2em;
}

.formunculous_subform_add {
	padding-left: 16px;
	background: url('../img/icon_addlink.gif') no-repeat;
	cursor: pointer;
	color: #3333ff;
}

/* Form confirmation styles */
.formunculous_confirmation_bar {
	text-align: right;
	font-size: 1.1em;
}
.formunculous_confirmation_bar ul {
	list-style-type: none;
}
.formunculous_confirmation_bar ul li {
	list-style-type: none;
	display: inline;
	margin-right: 50px;
}

.formunculous_continue_link {
	padding-left: 24px;
	background: url('../img/icon-ok.png') no-repeat;
}

.formunculous_cancel_link {
	padding-left: 24px;
	background: url('../img/icon-cancel.png') no-repeat;
}

.formunculous_list {
	list-style: disc;
}

.formunculous_list li {
	margin: 0 0 1.5em 15px;
	list-style: disc;
}


.formunculous_container {
	width: 100%;
	margin-left: 1em;
}

.formunculous_container h2 {
	margin: 2em 0 0 0;
}

/* Formunculous form index styles */
.formunculous_available_info {
	float: left;
	width: 55%;
	margin-right: 1em;
}
.formunculous_available_description {

	padding-right: 25px;
}

.formunculous_available_description h3 {
	color: #333;
	font-size: 1.1em;
}

.formunculous_available_status {	
	width: 35%;
	float: left;
	margin-right: 2em;
	margin-top: .8em;
	margin-bottom: 2em;
}
.formunculous_available_status h3 {
	color: #333;
	font-size: .9em;
	margin-bottom: 0;
	border-bottom: 1px dashed #ccc;
}

.formunculous_available_status p {
	font-size: .9em;
	margin-top: 0;
}
.formunculous_available_cb {
	clear: both;
	border-bottom: 1px dashed #ccc;
	margin-right: 6em;
}

.formunculous_messages {
	font-size: .8em;
	background-color: #f1faf1;
	width: 40%;
	color: #333f33;
	text-align: center;
	margin: 0 auto 20px auto;
	
}

.formunculous_no, .formunculous_yes {
	padding-left: 20px;
	display: block;
	float: left;
	text-indent: -9999px;
	margin-top: 3px;
}
.formunculous_yes { background: url('../img/icon-yes.gif') no-repeat; }
.formunculous_no { background: url('../img/icon-no.gif') no-repeat; }


/*ckeditor fix*/
.cke_wrapper {
	float: left;
	z-index: 1500;
}

/* Fix datepicker z ordering */
#ui-datepicker-div { z-index: 1500; }

