{% load i18n %}
<li>
  <div class="formunculous_field_head ui-state-default" id="field_id_fielddefinition_set-{{forloop.counter0}}-id">
	<div class="formunculous_field_title">
	  <div class="formunculous_field_sort_icon ui-icon ui-icon-arrowthick-2-n-s"></div>
	  <span class="formunculous_field_collapse"></span>
	  <span class="formunculous_field_name">
		{% if form.initial.label %}
		{{ form.initial.label|striptags|truncatewords:3}}
		{% else %}
   		{% trans "New Field" %}
		{% endif %}
	  </span>
	</div>
	<div class="formunculous_field_actions">
	  <ul>
		<li><span class="formunculous_field_add_above">{% trans "Add Above" %}</span></li>
		<li><span class="formunculous_field_add_below">{% trans "Add Below" %}</span></li>
		<li><span class="formunculous_field_delete">{% trans "Delete" %}</span></li>
	  </ul>
	</div>
	<div style="clear:both"></div>
  </div>
  <div class="formunculous_field_body">
	{{ form.id }}{{ form.DELETE }}{{ form.application }}{{ form.order }}
	{% if form.errors %}
	<div class="formunculous_errors">{% trans "Please correct the errors below" %}</div>
	<br />
	{% endif %}
	<div class="formunculous_form_row">
	  <div class="formunculous_left_column">
		<div>
		  {% if form.label.errors %}
		  <span class="formunculous_errors">{{ form.label.errors }}</span>
		  {% endif %}
		  <strong>{{ form.label.label_tag }}</strong> {{ form.label }}
		  {% if form.label.help_text %}
		  <div class="formunculous_info_box">{{ form.label.help_text }}</div>
		  {% endif %}
		</div>
		<div>
		  {% if form.type.errors %}
		  <span class="formunculous_errors">{{ form.type.errors }}</span>
		  {% endif %}
		  <strong>{{ form.type.label_tag }}</strong> {{ form.type }}
		  {% if form.type.help_text %}
		  <div class="formunculous_info_box">{{ form.type.help_text }}</div>
		  {% endif %}
		  
		</div>
		<div style="display:none">
		  {% if form.page.errors %}
		  <span class="formunculous_errors">{{ form.page.errors }}</span>
		  {% endif %}
		  {{ form.page.label_tag }} {{ form.page }}
		  {% if form.page.help_text %}
		  <div class="formunculous_info_box">{{ form.page.help_text }}</div>
		  {% endif %}
		</div>
		<div>
		  {% if form.help_text.errors %}
		  <span class="formunculous_errors">{{ form.help_text.errors }}</span>
		  {% endif %}
		  {{ form.help_text.label }}
		  <span class="formunculous_wysiwyg" style="margin-left:15px;">&nbsp;</span><br />
		  {{ form.help_text }}
		  {% if form.help_text.help_text %}
		  <div class="formunculous_info_box">{{ form.help_text.help_text }}</div>
		  {% endif %}
	  </div>

	  </div>
	  <div class="formunculous_right_column">
		<div>
		  {% if form.slug.errors %}
		  <span class="formunculous_errors">{{ form.slug.errors }}</span>
		  {% endif %}
		  <strong>{{ form.slug.label_tag }}</strong> {{ form.slug }}
		  {% if form.slug.help_text %}
		  <div class="formunculous_info_box">{{ form.slug.help_text }}</div>
		  {% endif %}
		</div>
		<div class="formunculous_left_column">
		  <div>
			{% if form.require.errors %}
			<span class="formunculous_errors">{{ form.require.errors }}</span>
			{% endif %}
			{{ form.require }}
			<label for="{{form.require.auto_id }}"
				   class="formunculous_builder_cb }}">
			  {{ form.require.label }}
			</label>
  			{% if form.require.help_text %}
			<div class="formunculous_info_box">{{ form.require.help_text }}</div>
			{% endif %}
		  </div>
		  <br />
		  <div>
			{% if form.group.errors %}
			<span class="formunculous_errors">{{ form.group.errors }}</span>
			{% endif %}
			{{ form.group }}
			<label for="{{form.group.auto_id }}"
				   class="formunculous_builder_cb }}">
			  {{ form.group.label }}
			</label>
			{% if form.group.help_text %}
			<div class="formunculous_info_box">{{ form.group.help_text }}</div>
			{% endif %}
		  </div>
		</div>
		<div class="formunculous_left_column">
		  <div>
			{% if form.reviewer_only.errors %}
			<span class="formunculous_errors">{{ form.reviewer_only.errors }}</span>
			{% endif %}
			{{ form.reviewer_only }} 
			<label for="{{form.reviewer_only.auto_id }}"
				   class="formunculous_builder_cb }}">
			  {{ form.reviewer_only.label }}
			</label>
			{% if form.reviewer_only.help_text %}
			<div class="formunculous_info_box">{{ form.reviewer_only.help_text }}</div>
			{% endif %}
		  </div>
		  <div>
			{% if form.header.errors %}
			<span class="formunculous_errors">{{ form.header.errors }}</span>
			{% endif %}
			{{ form.header }}
			<label for="{{form.header.auto_id }}"
				   class="formunculous_builder_cb }}">
			  {{ form.header.label }}
			</label>
			{% if form.header.help_text %}
			<div class="formunculous_info_box">{{ form.header.help_text }}</div>
			{% endif %}
		  </div>
		</div>
		<div style="clear:both"></div>
	  </div>
	  <div style="clear:both;"></div>
	  <div class="formunculous_field_head ui-state-default">
		<span class="formunculous_field_collapse"></span>
		<span class="formunculous_field_name">
		  {% trans "Dropdown Selections" %}
		</span>
	  </div>
	  <div class="formunculous_field_body">
		<div class="formunculous_dropdown_group">
		  <span class="formunculous_changelink formunculous_field_dropdown">
			{% trans "Add/Modify Dropdown Selections" %}
		  </span>
		  <div class="formunculous_info_box">
			{% blocktrans %}
			  You may add dropdown selections to any field type, but the
			  form will not honor the dropdown selections for
			  fields that they do not make sense for.
			{% endblocktrans %}
		  </div>
		  <br />
		  <div class="formunculous_left_column">
			<div>
			  {% if form.multi_select.errors %}
			  <span class="formunculous_errors">
				{{ form.multi_select.errors }}
			  </span>
			  {% endif %}
			  {{ form.multi_select }} {{ form.multi_select.label }}
			  <div class="formunculous_info_box">
				{{ form.multi_select.help_text }}
			  </div>
			</div>
		  </div>
		  <div class="formunculous_right_column">
			<div>
			  {% if form.use_radio.errors %}
			  <span class="formunculous_errors">
				{{ form.use_radio.errors }}
			  </span>
			  {% endif %}
			  {{ form.use_radio }} {{ form.use_radio.label }}
			  <div class="formunculous_info_box">
				{{ form.use_radio.help_text }}
			  </div>
			</div>
		  </div>
		  <div style="clear:both"></div>
		</div>
	  </div>
	  <div style="clear:both;"></div>
	  <br />
	  <div class="formunculous_field_head ui-state-default">
		<span class="formunculous_field_collapse"></span>
		<span class="formunculous_field_name">
		  {% trans "HTML Formatting" %}
		</span>
	  </div>
	  <div class="formunculous_field_body">
		<div class="formunculous_left_column">
		  <div>
			{% if form.pre_text.errors %}
			<span class="formunculous_errors">{{ form.pre_text.errors }}</span>
			{% endif %}
			{{ form.pre_text.label }}
			<span class="formunculous_wysiwyg" style="margin-left: 15px;"></span><br />
			{{ form.pre_text }}
			{% if form.pre_text.help_text %}
			<div class="formunculous_info_box">{{ form.pre_text.help_text }}</div>
			{% endif %}
		  </div>
		</div>
		<div class="formunculous_right_column">
		  <div>
			{% if form.post_text.errors %}
			<span class="formunculous_errors">{{ form.post_text.errors }}</span>
			{% endif %}
			{{ form.post_text.label }}
			<span class="formunculous_wysiwyg" style="margin-left: 15px;"></span>
			<br />
			{{ form.post_text }}
			{% if form.post_text.help_text %}
 			<div class="formunculous_info_box">{{ form.post_text.help_text }}</div>
			{% endif %}
		  </div>
		</div>
		<div style="clear:both;"></div>
	  </div>
	</div>
  </div>
</li>
