{% extends "formunculous/base.html" %}
{% load i18n %}

{% block title %}{% trans "Available Applications" %}{% endblock %}
{% block css %}
<link href="{{ MEDIA_URL }}formunculous/css/formunculous.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

{% if app_coll %}
<h2>{% trans "Available Forms" %}</h2>
{% for app in app_coll %}
<div class="formunculous_container">
  <h2>
	<a href="{% url formunculous-apply app.app_def.slug %}">
	  {{ app.app_def.name }}
	</a>
  </h2>
  <div class="formunculous_available_info">
  	<div class="formunculous_available_description">
	  <h3>{% trans "Description:" %}</h3>
	  <p>
		{{ app.app_def.description|safe }}
	  </p>
	</div>
  </div>
  <div class="formunculous_available_status">
	<h3>{% trans "Status:" %}</h3>
	<p>{{ app.status }}</p>
	<h3>{% trans "Available until:" %}</h3>
	<p>
	  {{ app.app_def.stop_date|date:"D d M Y" }}
	  {{ app.app_def.stop_time|time:"g:i A" }}
	</p>
  </div>
</div>
<div class="formunculous_available_cb"></div>
{% endfor %}
{% endif %}
<br />
{% if review_apps %}
<h2>{% trans "Applications for Review" %}</h2>
<ul class="formunculous_list">
  {% for app in review_apps %}
  <li><a href="{% url reviewer-index app.slug %}">{{ app.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
